In [33]:
import pandas as pd
import numpy as np
import os

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import inspect

In [34]:
df = pd.read_csv('data/Stations.csv')

In [35]:
df.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575

In [36]:
df.dtypes

Station ID          int64
Complex ID          int64
GTFS Stop ID       object
Division           object
Line               object
Stop Name          object
Borough            object
Daytime Routes     object
Structure          object
GTFS Latitude     float64
GTFS Longitude    float64
dtype: object

In [37]:
engine = create_engine('mysql://root:@127.0.0.1:3306/mta')

In [38]:
connection = (engine)

In [39]:
df.to_sql('locations', con=engine)
session = (engine)